<div class="contact_header">
  <h1 class="page_title">Contact National Water Service today!</h1>
</div>
<hr>
<div id="contact_content">
  <h2 class="section_header">Schedule An Appointment</h2>
  <%= image_tag('work-truck.jpg') %>
  <h3>We want to know how we can serve you better. Feel free to drop us a note, ask a question about our services or just say hi. We'll get back to you right away.</h3>
</div>
