<div class="contact_header">
  <h1 class="page_title">Contact National Water Service today!</h1>
</div>
<hr>
<div id="contact_content">
  <h2 class="section_header">Schedule An Appointment</h2>
  <h3 class="contact_tag">We want to know how we can serve you better. <br>Feel free to drop us a note, ask a question about our services or just say hi. We'll get back to you right away.</h3>
  <hr>
  <div class="contact_info">
    <h1>Call Us:</h1>
    <h3>24 Hour Emergency Service: <a href="tel:800-232-3506">(800)-232-3506</a></h3>
    <h3>Washington DC: <a href="tel:301-854-1333">(301)-854-1333</a></h3>
    <h3>Baltimore: <a href="tel:410-379-1993">(410)-379-1993</a></h3>
    <h3>Virginia: <a href="tel:540-882-4006">(540)-882-4006</a></h3>
  </div>
</div>
