.contact_header {
  text-align: center;
}

.contact_content {
  margin: 0 15em;
}

.contact_content h4 {
 line-height: 1.5em!important;
}

#message_form {
  margin: 0 30em 0 15em;
}

#message_form h2 {
  line-height: 1.3em;
}

.contact_content a {
  color: #2185D5;
}

#message_form a {
  color: #2185D5;
}

.contact_content a:hover {
  background: none;
  color: #2185D5;
  text-decoration: underline;
}
