.well_header {
  text-align: center;
}

#well_content {
  margin: 0 15em;
}

#well_content img {
  border-radius: 15px;
}

#well_content a {
  color: #3e90f5;
}

.well_pump_service img {
  display: inline-block;
}

.low_well_solutions img {
  display: inline-block;
}
